@import url(https://fonts.google.com/share?selection.family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000);


:root {
    --primary: #f6f3ef;
    --dark: #4f4f4f;
    --body: #B0B0AB;
    --box-shadow: 0 8px 22px rgba(53, 51, 51, 0.2);
}
/* font */
/*  <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 200 to 1000 */

body {
    font-family: "Nunito Sans", sans-serif;
    font-style: normal;
    line-height: 1.7;
    color: var(--dark);
      /* "wdth" 100,
      "YTLC" 500; */
  }

  p {
    color: var(--dark);
    text-decoration: none;
  }
  
  btn {
    padding: 14px 20px;
    border-width: 1px;
  }

 /* nav */
 .nav-item :hover{
  color: #157FAB ;
  transition: .3s;
  transform: translateY(3px);
 } 

 .navbar img {
   max-width: 120px;
 }
  

/* Hero */
.hero {
  background-image: url(../css/images/ottawa-d.jpg); 
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 47, 37, 0.7);
  z-index: -1;
}

.hero .welcome {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero img {
  max-width: 150px;
}

.hero btn:hover {
  color: #157FAB;
}

/* about and works */
.about {
  position: relative;
  overflow: hidden;
}

.about .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(71, 37, 63, 0.7);
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  opacity: 0;
  transform: all 0.4s ease;
}

.about img {
  transform: all 0.4s ease;
}
img {
  width: 100%;
}

.about:hover .overlay {
  opacity: 1;
}

.about:hover img{
  transform: scale(1.1);
}

/* about html */

.hero-m {
  background-image: url(../css/images/winter02-d.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 47, 37, 0.7);
  z-index: -1;
}

/* footer */
.footer {
 padding: 30px;
 background-color: var(--primary);
}

.iconbox {
  width: 60x;
  height: 60px;
  display: flex;
 justify-content: end;
  font-size: 54px;
  color: var(--dark);
  transition: .3s;
}

.iconbox :hover {
  color: var(--body);
  transition: .3s;
  transform: translateY(2px);
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: #fff;
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.work-btn {
  padding: 14px 20px;
  border-width: 1px;
  border: var(--dark) solid 1px;
  background-color: var(--body);
  text-decoration: none;
  color: var(--dark);
  transition: .3s;
}

.work-btn:hover {
  background-color: var(--primary);
  transition: .3s;
}
.work2-btn {
  padding: 14px 20px;
  border-width: 1px;
  border: var(--dark) solid 1px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--dark);
  transition: .3s;
}

.work2-btn:hover {
  background-color: var(--body);
  transition: .3s;
}

.hero-c {
  background-image: url(../css/images/Canadaday-f.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero-c::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(37, 37, 71, 0.7);
  opacity: 20%;
  z-index: -1;
}
html {
  scroll-behavior: smooth;
}

.skip {
  width: 60x;
  height: 60px;
  display: block;
  justify-content: end;
  font-size: 54px;
  color: var(--dark);
  opacity: 40%;
  transition: .3s;
}

.skip:hover {
  color: var(--body);
  transition: .3s;
  transform: translateY(2px);
}





